html {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    background: #DDD9CE;
  }
  .section1 {
    background: #EFECE9;
    height: 17vh;
    width: 500vh;
    margin-top: 5vh;
    margin-bottom: 3vh;
  }
  .box {
    text-align: center;
    padding: 20px;
    border: 1px solid #ccc;
    cursor: pointer;
    width: 30%;
}

.box img {
    width: 100%;
    height: auto;
    margin-top: 10px;
}
.box-conatiner{
  display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100%;
}
  